# ฉัตริน ไพรวัฒนานุพันธ์ 6110401595

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

## 1

In [2]:
italy_eq = pd.read_csv('italy_earthquakes_from_2016-08-24_to_2016-11-30.csv')

In [3]:
italy_eq

                         Time  Latitude  Longitude  Depth/Km  Magnitude
0     2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
1     2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2     2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
3     2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
4     2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                       ...       ...        ...       ...        ...
8081  2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
8082  2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
8083  2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
8084  2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
8085  2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

[8086 rows x 5 columns]

## 2

In [4]:
italy_eq["Time"]  = pd.to_datetime(italy_eq["Time"])

In [5]:
italy_eq=italy_eq.set_index("Time")

In [6]:
italy_eq

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                           ...        ...       ...        ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

[8086 rows x 4 columns]

## 3

In [7]:
italy_eq.loc[italy_eq["Magnitude"] == italy_eq["Magnitude"].max()]

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5

## 4

In [8]:
max_magnitude_d = str(italy_eq.loc[italy_eq.Magnitude == italy_eq["Magnitude"].max()].index[0].date())

In [9]:
max_magnitude_d

'2016-10-30'

In [10]:
len(italy_eq.loc[max_magnitude_d])

389

## 5

In [11]:
f'{max_magnitude_d} 07:00:00'

'2016-10-30 07:00:00'

In [12]:
italy_eq.loc[f'{max_magnitude_d} 07:00:00':f'{max_magnitude_d} 09:00:00'].count(0)

Latitude     30
Longitude    30
Depth/Km     30
Magnitude    30
dtype: int64

## 6

In [13]:
first_sec_Mag = italy_eq.sort_values("Magnitude",ascending=False).head(2)

In [14]:
first_sec_Mag.index[0]-first_sec_Mag.index[1]

Timedelta('67 days 05:03:45.360000')

## 7

In [15]:
italy_eq.loc[f'{max_magnitude_d} 07:00:00':f'{max_magnitude_d} 09:00:00',["Magnitude"]].diff()

                         Magnitude
Time
2016-10-30 07:01:14.060        NaN
2016-10-30 07:02:48.160        0.1
2016-10-30 07:14:48.470       -0.1
2016-10-30 07:31:51.660       -0.2
2016-10-30 08:04:07.760        0.2
2016-10-30 08:16:28.780       -0.3
2016-10-30 08:31:19.890       -0.1
2016-10-30 08:40:17.360        4.5
2016-10-30 08:41:17.010       -2.2
2016-10-30 08:42:27.470       -0.4
2016-10-30 08:43:08.810        0.1
2016-10-30 08:43:46.260       -0.5
2016-10-30 08:44:30.670        1.1
2016-10-30 08:47:05.430       -1.2
2016-10-30 08:48:27.160        0.4
2016-10-30 08:48:52.710        0.1
2016-10-30 08:50:43.710       -0.3
2016-10-30 08:51:14.270        0.1
2016-10-30 08:51:55.240        0.1
2016-10-30 08:53:12.820       -0.4
2016-10-30 08:53:54.740       -0.2
2016-10-30 08:54:46.760       -0.4
2016-10-30 08:55:41.060        1.3
2016-10-30 08:55:54.210        0.0
2016-10-30 08:56:05.780        0.1
2016-10-30 08:56:38.110       -0.7
2016-10-30 08:57:21.560        0.3
2016-10-30 08:58:02.960       -0.3
2016-10-30 08:59:31.500        0.4
2016-10-30 08:59:45.430       -0.3

## 8

In [16]:
italy_eq.resample('d').size()

Time
2016-08-24    508
2016-08-25    240
2016-08-26    212
2016-08-27    140
2016-08-28    110
             ...
2016-11-26     41
2016-11-27     73
2016-11-28     82
2016-11-29     93
2016-11-30     47
Freq: D, Length: 99, dtype: int64

## 9

In [17]:
len(italy_eq.resample('H').size()==0)

2370

In [18]:
h = italy_eq.resample('H').size()

In [19]:
h= h.to_frame()

In [20]:
h = h.rename(columns={0:'count'})

In [21]:
h.loc[h["count"] == 0].count()

count    759
dtype: int64

## 10

In [22]:
italy_eq.resample('5min').Magnitude.mean().nlargest(1)

Time
2016-10-26 19:10:00    5.4
Name: Magnitude, dtype: float64

## 11

In [23]:
italy_eq.index.to_series().diff().max()

Timedelta('0 days 16:46:16.250000')

## 12

In [24]:
no_magnitude=italy_eq.index.to_series().diff().nlargest(1)

In [25]:
start = no_magnitude.index[0]-no_magnitude[0]

In [26]:
end = no_magnitude.index[0]

In [27]:
start , end

(Timestamp('2016-10-25 03:13:54.230000'),
 Timestamp('2016-10-25 20:00:10.480000'))

## 13

In [28]:
eq_temp = italy_eq

In [29]:
eq_temp["Pre"] = eq_temp.Magnitude.diff().round(1).fillna(0)

In [30]:
eq_temp

                         Latitude  Longitude  Depth/Km  Magnitude  Pre
Time
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0  0.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5 -1.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8 -0.7
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9  0.1
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6 -0.3
...                           ...        ...       ...        ...  ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0 -0.3
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6  0.6
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2 -0.4
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7  0.5
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3 -0.4

[8086 rows x 5 columns]

In [31]:
eq_temp["Post"] = eq_temp.Magnitude.diff(-1).round(1).fillna(0)

In [32]:
eq_temp

                         Latitude  Longitude  Depth/Km  Magnitude  Pre  Post
Time
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0  0.0   1.5
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5 -1.5   0.7
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8 -0.7  -0.1
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9  0.1   0.3
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6 -0.3   0.2
...                           ...        ...       ...        ...  ...   ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0 -0.3  -0.6
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6  0.6   0.4
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2 -0.4  -0.5
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7  0.5   0.4
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3 -0.4   0.0

[8086 rows x 6 columns]

In [33]:
more_eq = eq_temp.loc[(eq_temp.Pre >= 2) & (eq_temp.Post >= 2)]

In [34]:
more_eq

                         Latitude  Longitude  Depth/Km  Magnitude  Pre  Post
Time
2016-08-24 04:33:28.890   42.7922    13.1507       8.0        5.4  2.9   2.6
2016-10-26 19:10:36.340   42.8802    13.1275       8.7        5.4  3.3   2.8
2016-10-26 21:18:05.850   42.9087    13.1288       7.5        5.9  3.7   2.3
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5  4.5   2.2
2016-11-29 18:14:02.690   42.5293    13.2803      11.1        4.4  2.0   2.0

## 14

In [35]:
hour = eq_temp.resample('H').size().reset_index().set_index('Time').loc[more_eq.index.floor('H')][0]

In [36]:
hour

Time
2016-08-24 04:00:00    61
2016-10-26 19:00:00    12
2016-10-26 21:00:00    24
2016-10-30 08:00:00    26
2016-11-29 18:00:00    11
Name: 0, dtype: int64

In [37]:
more_eq['h_count'] = list(hour)

C:\Users\SernJa\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
more_eq=more_eq.drop(columns="Time")

KeyError: "['Time'] not found in axis"

In [ ]:
more_eq

## 15

In [ ]:
re_hour = italy_eq.resample("H").size()

In [ ]:
count_h=re_hour.groupby(re_hour.index.hour).sum()

In [ ]:
count_h = count_h.reset_index()

In [ ]:
count_h=count_h.rename(columns={"Time":"Hour"}).set_index('Hour')

In [ ]:
count_h.rename(columns={0 : "Count"})